body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #333;
}

.nav {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
}

.nav a:hover {
    text-decoration: underline;
}

.list-group-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
}

img {
    max-width: 50%;
    height: 200px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}   